<form method="POST">
    <input name="text">
    <input type="submit">
</form>

<br><br>
<p>result for {{id}}</p>

<p>in English, bot score is {{dataEn.overall}} out of 5</p>
<ul>
    <li>{{dataEn.astroturf}}</li>
    <li>{{dataEn.fake_follower}}</li>
    <li>{{dataEn.financial}}</li>
    <li>{{dataEn.other}}</li>
    <li>{{dataEn.self_declared}}</li>
    <li>{{dataEn.spammer}}</li>
</ul>

<p>in all languages, bot score is {{dataUn.overall}} out of 5</p>
<ul>
    <li>{{dataUn.astroturf}}</li>
    <li>{{dataUn.fake_follower}}</li>
    <li>{{dataUn.financial}}</li>
    <li>{{dataUn.other}}</li>
    <li>{{dataUn.self_declared}}</li>
    <li>{{dataUn.spammer}}</li>
</ul>

