<form method="POST">
    <input name="text">
    <input type="submit">
</form>

<br><br>
<p>result for {{id}}</p>

<p>in English, bot score is {{dataEn.overall}} out of 5, the higher, the more likely to be a bot</p>
<ul>
    <li>manually labeled political bots and accounts involved in follow trains that systematically delete content: {{dataEn.astroturf}}</li>
    <li>bots purchased to increase follower counts: {{dataEn.fake_follower}}</li>
    <li>bots that post using cashtags: {{dataEn.financial}}</li>
    <li>miscellaneous other bots obtained from manual annotation, user feedback, etc.: {{dataEn.other}}</li>
    <li>bots from botwiki.org: {{dataEn.self_declared}}</li>
    <li>accounts labeled as spambots from several datasets: {{dataEn.spammer}}</li>
</ul>

<p>in all languages, bot score is {{dataUn.overall}} out of 5, the higher, the more likely to be a bot</p>
<ul>
    <li>manually labeled political bots and accounts involved in follow trains that systematically delete content: {{dataUn.astroturf}}</li>
    <li>bots purchased to increase follower counts: {{dataUn.fake_follower}}</li>
    <li>bots that post using cashtags: {{dataUn.financial}}</li>
    <li>miscellaneous other bots obtained from manual annotation, user feedback, etc.: {{dataUn.other}}</li>
    <li>bots from botwiki.org: {{dataUn.self_declared}}</li>
    <li>accounts labeled as spambots from several datasets: {{dataUn.spammer}}</li>
</ul>


<br><br>
<p>{{message2}}</p>
<br>
<p>{{message3}}</p>

