<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528031021744-mfruak9msahm7ivtu483lmo4i7l60ii7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528031021744-mfruak9msahm7ivtu483lmo4i7l60ii7</string>
	<key>API_KEY</key>
	<string>AIzaSyCdZSQ2UHYm1V0ZZ4EHv-DeklxBXDxxk_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>528031021744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>tweetanalyze-1d192</string>
	<key>STORAGE_BUCKET</key>
	<string>tweetanalyze-1d192.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528031021744:ios:74ae84b8f4cb8e69299975</string>
</dict>
</plist>